HOST_NAME=http://localhost:3000/

MONGO_URL=mongodb://localhost:27017/teslodb
# Auth personalizado
JWT_SECRET_SEED=
# Next Auth
NEXTAUTH_SECRET=

# Si inicia con 'NEXT_PUBLIC_', la variable es visible para el cliente, de lo contrario será visible solo para el servidor
NEXT_PUBLIC_TAX_RATE=0.15

# Providers Next Auth
GITHUB_ID=
GITHUB_SECRET=

# PayPal
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=

# Cloudinary
CLOUDINARY_URL=